$theme-colors: ( "primary": #3157A7, "danger": #ff4136);
$barColor: #002766;
$pageTopBarColor:#f7d6e0; // $barColor: #001641;
$darkColor:#002766;
$bgc: #fff;
$bgcBlue:#A7C6E6;
$fontBlue:#3157A7;
$fontGray:#5c677d;
$title: 'Cabin';
$text: 'Rubik';
$shadow: filter;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss"